{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
    <div class="content">
        <h1>Lorem Ipsum</h1>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <p>"Нет никого, кто любил бы боль саму по себе, кто искал бы её и кто хотел бы иметь её просто потому, что это
            боль.."</p>
    </div>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque molestie sit amet nibh quis malesuada.
        Aenean lacus sem, dignissim at accumsan vitae, euismod at enim. Pellentesque pulvinar finibus euismod. Etiam
        suscipit ultricies nisi, eget suscipit justo fringilla interdum. Donec risus nisi, pellentesque a magna ac,
        ultricies auctor neque. Pellentesque vel lobortis libero. Orci varius natoque penatibus et magnis dis parturient
        montes, nascetur ridiculus mus. Nullam condimentum mi vitae pretium pulvinar. Integer vel nunc ut est ornare
        molestie. Proin nec nunc quis quam finibus fermentum eget at felis. Fusce congue semper nisl ut molestie. Sed
        sit amet pretium nunc. Proin vel mauris justo. Mauris id velit odio.</p>

    <p>Mauris vitae nulla quis urna luctus imperdiet. Donec et commodo purus. Cras in aliquet elit. Sed rutrum leo vitae
        massa cursus, feugiat lacinia risus elementum. Nulla facilisi. Integer ex nibh, dictum ut consequat sit amet,
        egestas at lorem. Vestibulum suscipit gravida sapien, a aliquet urna pulvinar sed. Integer ultrices nec sapien
        vel consectetur. Integer non nisi elementum, sagittis turpis non, varius nisl. Pellentesque aliquet, nulla nec
        pulvinar feugiat, velit nibh molestie nulla, dictum mattis dolor magna a sapien.</p>

    <p>Nulla non pharetra lectus, ac scelerisque dolor. Praesent mattis porttitor risus quis bibendum. Praesent bibendum
        dictum viverra. Fusce et malesuada velit. Donec sodales est gravida mauris porta lacinia. Duis mauris eros,
        pharetra ut vehicula quis, gravida ut magna. Morbi eu diam in lacus laoreet semper in ut lacus. Donec fringilla
        libero arcu, sit amet convallis metus sollicitudin ac. Nullam dictum aliquam eleifend.</p>

    <p>Duis porta eleifend mauris in pretium. Suspendisse diam quam, semper vitae mi nec, sodales commodo risus. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in porta mi.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse et urna libero. Ut facilisis tempus
        dui, ac ultrices augue hendrerit et. Etiam convallis, magna eu maximus tempor, purus enim faucibus ex, sed porta
        lacus sapien a nisl. Duis et eros eu tellus cursus sagittis. Suspendisse vestibulum et magna a varius. Donec sit
        amet rhoncus leo. Duis a gravida risus. Vivamus suscipit blandit viverra. Fusce eget turpis aliquam, aliquet est
        in, tempus nisi. Quisque commodo porta elit convallis interdum. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia curae;</p>

    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed in nulla elementum,
        maximus quam ac, auctor massa. Duis non porttitor ligula, eu laoreet purus. Phasellus commodo vestibulum augue
        id pretium. Ut risus est, tempor in sapien sit amet, pharetra bibendum quam. Nullam id felis quam. Pellentesque
        sollicitudin, enim vel dapibus rhoncus, mi turpis vulputate mauris, a faucibus mi massa et erat. Ut faucibus
        sagittis purus ac vulputate. Pellentesque iaculis placerat leo, sit amet consequat quam placerat et. Sed
        dignissim urna at diam congue, et elementum enim facilisis. Mauris eros sem, aliquam id pharetra volutpat,
        aliquam eget leo. Ut sit amet purus at mauris ullamcorper fringilla. Donec volutpat risus enim, sit amet
        sagittis massa convallis at.</p>
    </div>
</main>
{% endblock %}